@use '../../theme/theme.scss' as *;

.portrait {
  display: flex;
  flex: 1;
  box-shadow: $red-box-shadow;
  border-radius: $border-radius;
  min-height: 100px;
  max-width: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
