@use '../../theme/theme.scss' as *;

#TopBar {
  top: 0;
  max-width: 100%;
  height: $top-bar-height;
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
}

#MiddleBar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100%;
  height: calc(100vh - $top-bar-height);
}

portrait-component {
  padding: 20px;
  grid-area: 1 / 1 / 5 / 3;
}
game-mode-title {
  grid-area: 1 / 3 / 2 / 7;
}
mode-rules-component {
  grid-area: 2 / 3 / 4 / 7;
}
// div &:nth-child(4) {
//   grid-area: 5 / 3 / 6 / 7;
// }
hall-of-fame-button-component {
  grid-area: 4 / 3 / 6 / 7;
}
